In [49]:
import pandas as pd

In [50]:
hginsights_input = pd.read_csv("/Users/shagarwal/Documents/HG Insights/input/R1_R2_R3_R4_V2_initial.csv")

In [51]:
hginsights_input.head()

         Product_Name
0          QuickBooks
1                Xero
2               Bench
3  QuickBooks Desktop
4        Sage Intacct

In [52]:
hginsights_input.shape

(339022, 1)

In [53]:
hginsights_input.columns

Index(['Product_Name'], dtype='object')

In [54]:
hginsights_input_dupe = hginsights_input.duplicated(subset = 'Product_Name' ,keep="first")
hginsights_input_dupe_count = hginsights_input_dupe.value_counts()
hginsights_input_dupe_count

False    186426
True     152596
dtype: int64

In [43]:
hginsights_input.drop_duplicates().to_csv("/Users/shagarwal/Documents/HG Insights/input/final_input.csv")

In [41]:
hginsights_input.head()

         Product_Name
0          QuickBooks
1                Xero
2               Bench
3  QuickBooks Desktop
4        Sage Intacct

In [42]:
hginsights_input.tail()

                  Product_Name
339017              Wine Range
339018   Vines Online Solution
339019                Vinsight
339020  Wine Management System
339021                VinPoint

In [44]:
#Read final input after eliminating duplicates.
final_input = pd.read_csv("/Users/shagarwal/Documents/HG Insights/input/final_input.csv")

In [45]:
final_input.shape

(186426, 2)

In [48]:
final_input_dupe = final_input.duplicated(subset= None ,keep="first")
final_input_dupe_count = final_input_dupe.value_counts()
final_input_dupe_count

False    186426
dtype: int64

(186426, 1)

# Extraction of ~17K products from HGinsights HTML file.